@charset "UTF-8";

#with {
   margin: 0 auto;
   margin-top: 100px;
   padding: 0 !important;

}
#height{
   margin: 0 auto;
   padding: 0 !important;

}
h1, h3{
   text-align: center;
}
#sg{
   margin: 0 auto;
   width: 280px;
   height: 600px;
   padding: 0 !important;
}
#sj{
   margin: 0 auto;
   width: 450px;
   height: 800px;
   text-align: center;
}
#name{
   margin-top: 25px;
}
input{
   margin-top: 15px;
}
h4{
   margin-top: 15px;
}
input{
   text-align: center;
   z-index: 101;
}
#festivalname{
   margin-top: 15px;
   /* margin-bottom: 50px; */
}
#place{
   margin-top: 15px;
}
#date{
   margin-top: 10px;
}
#btn1{
   width: 150px;
   margin: 0 auto;
   margin-top: 15px;
   margin-left: 65px;
}
#btn2{
   width: 150px; 
   margin-top: 15px;
}
#btn3{
   width: 150px;
}
textarea{
   width: 100%; 
   /* margin-top: 20px; */
}
#inname{
   margin-top: 20px; 
   width: 100%; 
   display: inline;
}
#intel{
   margin-top: 20px; 
   width: 100%x; 
   display: inline;
}
#inplace{
   width: 100%;  
   display: inline;
}
#Startdate, #Enddate{
   width:197px; 
   display: inline;
}
#Starttime, #Endtime{
   width:197px; 
   display: inline;
}
#postnum{
   width: 260PX; 
   display: inline;
}
#loadaddr{
   top: 5px;
}
#cost{
   width: 100%;
}
#div1{

   padding: 0 !important;
}
#div2{

   padding: 0 !important;
}
#div3{
   padding: 0 !important;
}
#pop{
   background:white; 
   text-align:center; 
   border:2px solid #000;
   /* display: inline-block; */
   z-index: 1;
   }
#radio{
   margin: 0 auto;
   text-align: left;
}
#gg{
   margin: 0 auto;
   /* margin-left: 20px; */
   width:350px; 
   height:200px;
   
}
#ff{
   
   margin-top: 50px;
   text-align: center;
   
}
#oo{
   margin: 0 auto;
   margin-top:10px;
   margin-left: 5px;
   border: 1px solid darkgray;
}